@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    -webkit-user-drag: none;
}

@font-face {
    font-family: 'Roboto';
    src: url('/Roboto-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hide-first-when-hovered:hover .hide-first-when-hovered__first {
    display: none;
}

.hide-first-when-hovered:hover .hide-first-when-hovered__second {
    display: block;
}

.hide-first-when-hovered__first {
    display: block;
}

.hide-first-when-hovered__second {
    display: none;
}
