@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    -webkit-user-drag: none;
}

@font-face {
    font-family: 'Roboto';
    src: url('/Roboto-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hide-first-when-hovered:hover .hide-first-when-hovered__first {
    /* Always show the other element on screen readers. */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.hide-first-when-hovered:hover .hide-first-when-hovered__second {
    /* Resets everything back to normal. We need this because not everything had a default. */
    display: block;
    position: static;
    width: auto;
    height: auto;
    clip: auto;
    overflow: visible;
}

.hide-first-when-hovered__first {
    display: block;
}

.hide-first-when-hovered__second {
    /* Always show the other element on screen readers */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
